.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filter{
    background-color:rgb(247, 249, 251);
    padding: 2%;
    height: 88%;
    width: 15%;
    margin-left: 60.8%;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 0.5em;
    margin-top: 1%;
    position: fixed;
}

.border {
    border-width: 1px; /* Lebar border 2px */
    border-style: solid; /* Style solid (garis lurus) */
    border-color: #6a6a6a4d; /* Warna hitam (#000) */
    height: 97%;
    padding: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.border p{
    text-align: left;
    font-size: small;
}

#dropdown{
    width: 90%;
}

.chart{
   background-color:rgb(247, 249, 251);
   z-index: 1;
   box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
   width: 58%;
   margin-top: 4%;
   border-radius: 0.5em;
   margin-bottom: 4%;
   margin-left: 5%;
   padding: 4%;
   text-align: center;
   
}

#barChart-container{
    margin-top: 6%;
    margin-left: 2%;
}

.quote{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 23vw;
}

.quote>h1 {
    margin: 0;
    font-size: 2.5vw;
}