.quote{
    position: absolute;
    text-align: center;
    height: 100vh;
    top: 30%;
    left: 10vw;
}

.quote>h1 {
    margin: 0;
    font-size: 2.5vw;
}

.dashboard {
    position: absolute;
    right: 25%;
    height: 100vh;
    width: 27vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    background-color: rgba(228, 227, 234, 0.604);
    border-left: 3px solid #0c0c0c;
    border-right: 3px solid #040404;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.image-container>img {
    width: 23vw;
}