nav {
  position: absolute;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: rgb(228, 227, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(41, 117, 149);
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

h1 {
  margin: 20px 0;
  font-size: xx-large;
  margin-top: 30%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #817e7e;
  padding-bottom: 5%;
}

li {
  margin: 20px 0;
  align-content: flex-start;
}

a {
  text-decoration: none;
  color: #828080;
  transition: color 0.3s;
  font-size: larger;
}

a:hover {
  color: rgb(255, 255, 255);
}