body{
    display: flex;
    flex-direction: row;
}

.ampli{
    position: fixed;
    transform: rotate(14deg);
    margin-top: 10%;
}

.navBar{
    z-index: 1;
}

.chart {
    margin-left: 10%;
    margin-top: 8%;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filter{
    background-color:rgb(247, 249, 251);
    padding: 2%;
    height: 88%;
    width: 15%;
    margin-left: 60.8%;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 0.5em;
    margin-top: 1%;
    position: fixed;
}

.border {
    border-width: 1px; /* Lebar border 2px */
    border-style: solid; /* Style solid (garis lurus) */
    border-color: #6a6a6a4d; /* Warna hitam (#000) */
    height: 97%;
    padding: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.border p{
    text-align: left;
    font-size: small;
}

#dropdown{
    width: 90%;
}