.bb {
    position: absolute;
    height: 70vh;
    width: 60vw;
    top: 20%;
    left: 20%;
}

.attr {
    position: absolute;
    right: 0;
    width: 15vw;
    height: 100vh;
    background-color: rgb(228, 227, 234);
    display: flex;
    flex-direction: column;
    align-items: end;
    color: rgb(41, 117, 149);
    box-shadow:10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.attr>.attr1{
    padding-right: 2.5vw;
}

#ddVar {
    padding-top: 5px;
}

.quote{
    position: absolute;
    text-align: center;
    top: 30%;
    left: 21vw;
}

.quote>h1 {
    margin: 0;
    font-size: 2.5vw;
}