body{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content h1{
    margin-top: 0%;
}

.navBar{
    z-index: 1;
}

.ampli{
    position: fixed;
    transform: rotate(14deg);
    margin-top: 10%;
}

.sum-content{
    width: 63%;
    margin-top: 0%;
    margin: 5%;
    z-index: 1;
    
}

.sum-res{
    margin-top: 3.5%;
    height: 67%;
    width: 80%;
    padding: 10%;
    padding-top: 6%;
    background-color:  rgb(228, 227, 234);
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
}

.sum-res p{
    font-size: larger;
}

select{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    font-size:small;
}

.sum-res select{
    width: 80%;
    font-size: medium;
}

.total-text{
    margin-top: 10%;
}

.total-text h1{
    margin-top: 10%;
}



.guide{
    background-color:  rgb(228, 227, 234);
    z-index: 1;
    padding: 3%;
    margin-right: 2%;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
    width: 15%;
    height: 85%;
    margin-top: 0.8%;
    border-radius: 10px;
    position: fixed;
    margin-left: 58%;
}

.guide select{
    width: 100%;
    height: 5%;
}

.opGuide{
    margin-top: 10%;
    border-width: 1px; /* Lebar border 2px */
    border-style: solid; /* Style solid (garis lurus) */
    border-color: #6a6a6a4d; /* Warna hitam (#000) */
    border-radius: 10px;
    height: 58%;
    padding-left: 5%;
    padding-right: 1.5%;
    padding-top: 5%;
}

.opGuide p{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20%;
}

.opGuide h3{
    margin-top: 10px;
    font-size: small;
}

.opGuide h4{
    font-size: smaller;
    font-weight: lighter;
    margin-bottom: 10%;
}
