body{
    display: flex;
    flex-direction: row;
}

.navBar{
    z-index: 1;
}

.ampli{
    position: fixed;
    transform: rotate(14deg);
    margin-top: 10%;
}

.sum-content{
    width: 90%;
    
    margin: 5%;
    z-index: 1;
    
}

.sum-res{
    margin-top: 3.5%;
    height: 67%;
    width: 80%;
    padding: 10%;
    padding-top: 6%;
    background-color:  rgb(228, 227, 234);
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
}

.sum-res p{
    font-size: larger;
}

select{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    font-size:x-large;
}

.sum-res select{
    width: 80%;
    font-size: medium;
}

.total-text{
    margin-top: 10%;
}

.total-text h1{
    margin-top: 10%;
}



.guide{
    background-color:  rgb(228, 227, 234);
    margin: 5%;
    margin-left: 0%;
    z-index: 1;
    padding: 3%;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.5);
}

.upper-var{
    display: flex;
    flex-direction: row;
    gap: 18%;
    margin-left: -3%;
    margin-right: 10%;
    border: 2px solid #000000;
    padding-left: 15%;
    width: 90%;
    border-radius: 10px;
}