body{
    display: flex;
    flex-direction: row;
}

#uploadForm{
    margin-left: 30%;
    margin-top: 15%;
    align-items: center;
    
    
}

.content{
    margin-top: 10%;
    margin-left: 20%;
    z-index: 1;
}

.navBar{
    z-index: 1;
}

.uploadForm {
    text-align: center;
    margin-top: 18%;
    width: 100%;
}

.ampli{
    position: fixed;
    transform: rotate(14deg);
    margin-top: 10%;
}


.content img {
    width: 300px; /* Sesuaikan ukuran gambar kecil */
}

.file-upload{
    margin-top: 3%;
    margin-left: 22%;

    
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5%;
    margin-left: 45%;
}

button:hover {
    background-color: #0056b3;
}

label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 20px 24px; /* Mengganti padding untuk memperbesar tombol */
    border-radius: 5px;
    cursor: pointer;
}


/* Efek hover pada label */
label:hover {
    background-color: #0056b3;
}