<nav>
  <div>
    <h1>DATAVIZR</h1>
    <ul>
      <li><a href="/home" class="active">HOME</a></li>
      <li><a href="/upload" class="active">UPLOAD DATA</a></li>
      <li><a href="/summary" class="active">SUMMARY</a></li>
      <li><a href="/barChart" class="active">BAR CHART</a></li>
      <li><a href="/scatterPlot" class="active">SCATTER PLOT</a></li>
    </ul>
  </div>
</nav>
