<link rel="stylesheet" href="css/nav.css">

<nav>
  <h1>DATAVIZR</h1>
  <ul>
    <li><a href="/home" onclick="changeStyle(this)">HOME</a></li>
    <li><a href="/upload" onclick="changeStyle(this)">UPLOAD DATA</a></li>
    <li><a href="/summary" onclick="changeStyle(this)">SUMMARY</a></li>
    <li><a href="/barChart" onclick="changeStyle(this)">BAR CHART</a></li>
    <li><a href="/scatterPlot" onclick="changeStyle(this)">SCATTER PLOT</a></li>
  </ul>
</nav>
