<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/barChart.css">
  <title>BAR CHART</title>
</head>

<body>
  <div class="navBar">
    <%- include('../component/nav') %>
  </div>
  
  <div class="ampli">
    <img src="images/ampli.png" alt="Data Image">
  </div>
  <div class="dev">
    UPSS, PAGES STILL UNDER DEVELOPMENT
  </div>
  <div class="filter-bar">
    <div class="fil">FILTER</div>
    <div class="var">VARIABLE</div>
    <div class="filter-values">
        <label for="atribut1">ATRIBUT 1</label>
        <select id="atribut1">
        </select>
        <label for="atribut2">ATRIBUT 2</label>
        <select id="atribut2">
        </select>
    </div>
</div>
  
</body>

</html>