<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/landing.css">
  <title>Welcome Page</title>

</head>

<body>
  <div class="ampli">
    <img src="images/ampli.png" alt="Data Image">
  </div>
  <div class="garis">
    <img src="images/garis.png" alt="Data Image">
  </div>
  <div class="container">
    <div class="left-div">
      <h1>DATAVIZR</h1>
      <img src="images/Block.png" alt="Welcome Image">
      <div class="buttom">
        <a href="/home" class="get-started-link">
          <button>Get Started</button>
        </a>
        <p>Explore your data</p>
      </div>
      
    </div>
    <div class="right-div">
      <p>MAKE YOUR BETTER DECISIONS WITH DATA</p>
      <img src="images/barChart.png" alt="Data Image">
      <div class="image2">
        <img src="images/scatterPlot.png" alt="Data Image">
      </div>
    </div>
  </div>
  
</body>

</html>