<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/landing.css">
    <title>Welcome Page</title>
</head>

<body>
    <div class="container">
        <div class="left-div">
            <h1>DATAVIZR</h1>
            <img src="your-image-url.jpg" alt="Welcome Image">
            <button>Get Started</button>
        </div>
        <div class="right-div">
            <p>Make Your Better Decisions with Data</p>
            <img src="your-another-image-url.jpg" alt="Data Image">
        </div>
    </div>
</body>

</html>