<link rel="stylesheet" href="css/nav.css">
  <nav>
    <h1>DATAVIZR</h1>
    <ul>
      <li><a href="#" class="active">HOME</a></li>
      <li><a href="#">UPLOAD DATA</a></li>
      <li><a href="#">BAR CHART</a></li>
      <li><a href="#">SCATTER PLOT</a></li>
    </ul>
  </nav>
