<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/scatterPlot.css">
  <title>SCATTER PLOT</title>
</head>

<body>
  <div class="navBar">
    <%- include('../component/nav') %>
  </div>
  <div class="dev">
    UPSS, PAGES STILL UNDER DEVELOPMENT
  </div>
</body>

</html>