<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/scatterPlot.css" />

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
    <script type="module" src="../javascript/scatterPlot.js" defer></script>

    <title>SCATTER PLOT</title>
  </head>

  <body>
    <div class="navBar"><%- include('../component/nav') %></div>
    <div class="ampli">
      <img src="images/ampli.png" alt="Data Image" />
    </div>
    <div class="content">
      <div class="chart">
        <div id="scatter-plot-container"></div>
      </div>
      <div class="filter">
        <div class="border">
          <div class="upper">
            <h3>FILTER</h3>
            <p>AXIS X</p>
            <select id="dropdown" name="dropdown">
              <option value="option1">WINE SALES</option>
              <option value="option2">FRUIT SALES</option>
            </select>
            <p>AXIS Y</p>
            <select id="dropdown" name="dropdown">
              <option value="option1">WINE SALES</option>
              <option value="option2">FRUIT SALES</option>
            </select>
          </div>
          <div class="lower"></div>
        </div>
      </div>
    </div>
  </body>
</html>
