<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/scatterPlot.css" />
    <title>SCATTER PLOT</title>
  </head>

  <body>
    <div class="navBar"><%- include('../component/nav') %></div>
    <div class="dev">
      <p class="judul">Frequency NumbDealsPurchase</p>
      <p class="legendY">Frequency</p>
      <div class="image_container">
        <img src="images/scatterPlot.png" alt="scatterImage" />
      </div>
      <p class="legendX">NumDealsPurchase</p>
    </div>
    <div class="filterBar">
        <h1>FILTER</h1>
        <h2>SEX</h2>
        <di class="filter-values">
          <label for="atribut1">ATRIBUT 1</label>
          <select id="atribut1"></select>
          <label for="atribut2">ATRIBUT 2</label>
          <select id="atribut2"></select>
        </di v>
      
        <h2>ATRIBUT</h2>
        <div class="filter-values">
          <label for="color">COLOR</label>
          <select id="color"></select>
          <label for="shape">SHAPE</label>
          <select id="shape"></select>
          <label for="size">SIZE</label>
          <select id="size"></select>
          <label for="labe">LABEL</label>
          <select id="label"></select>
        </div>
    </div>
  </body>
</html>
