<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/summary.css" />
    <script type="module" src="../javascript/summary.js" defer></script>
    <title>HOME</title>
  </head>

  <body>
    <div class="navBar"><%- include('../component/nav') %></div>
    <div class="ampli">
      <img src="images/ampli.png" alt="Data Image" />
    </div>
    <div class="content">
      <div class="sum-content">
        <h1>SUMMARY</h1>
        <div class="sum-res">
          <div class="text-res">
          </div>
          <div id="resultContainer" class="dropdown-res"></div>
        </div>
      </div>
      <div class="guide">
        <p>OPERATION</p>
        <select id="operationSelect" name="operationSelect"></select>
        <p>SELECT</p>
        <select id="selectSelect" name="selectSelect"></select>
        <p>GROUP BY</p>
        <select id="groupBySelect" name="groupBySelect"></select>
        <div class="opGuide">
            <p>GUIDE</p>
            <h3>OPERATION</h3>
            <h4>Desc about operation</h4>

            <h3>SELECT</h3>
            <h4>Desc about select</h4>

            <h3>GROUP BY</h3>
            <h4>Desc about group by</h4>
        </div>
      </div>
    </div>
  </body>
</html>
